<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/fa59c2d0-72f6-4716-88a8-4b8a1f5f9654/resourceGroups/AzureGameShopWebsite20241017215909ResourceGroup/providers/Microsoft.Web/sites/AzureGameShopImporter</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuregameshopimporter-b6cfa7a4ajfjdhfs.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3de4bb63-7baa-448f-9084-bbcd517f08d2</ProjectGuid>
    <publishUrl>ftps://waws-prod-yt1-001.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>AzureGameShopImporter\$AzureGameShopImporter</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>